<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur_robotiq" >

  <xacro:arg name="ur_type" default="ur10e"/>

  <xacro:macro name="ur_robotiq" params="
    fake_ur:=true
    fake_gripper:=true
    ur_type
    robot_name:='$(arg ur_type)'
    tf_prefix:='$(arg ur_type)'
    parent_link:='world'
    origin_x:=0.0
    origin_y:=0.0
    origin_z:=0.0
    origin_roll:=0.0
    origin_pitch:=0.0
    origin_yaw:=0.0
    joint_limits_parameters_file:='$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml'
    kinematics_parameters_file:='$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml'
    physical_parameters_file:='$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml'
    visual_parameters_file:='$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml'
    safety_limits:=false
    safety_pos_margin:=0.15
    safety_k_position:=20
    generate_ros2_control_tag:=true
    transmission_hw_interface:=hardware_interface/PositionJointInterface
    fake_sensor_commands:=false
    sim_gazebo:=false
    sim_ignition:=false
    headless_mode:=false
    initial_positions:=${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}
    use_tool_communication:=false
    tool_voltage:=0
    tool_parity:=0
    tool_baud_rate:=115200
    tool_stop_bits:=1
    tool_rx_idle_chars:=1.5
    tool_tx_idle_chars:=3.5
    tool_device_name:=/tmp/ttyUR
    tool_tcp_port:=54321
    robot_ip:=192.168.1.102
    script_filename:=to_be_filled_by_ur_robot_driver
    output_recipe_filename:=to_be_filled_by_ur_robot_driver
    input_recipe_filename:=to_be_filled_by_ur_robot_driver
    reverse_port:=50001
    script_sender_port:=50002
    reverse_ip:=0.0.0.0
    script_command_port:=50004
    trajectory_port:=50003
    non_blocking_read:=true
    keep_alive_count:=2
    robotiq_sim_ignition:=false
    robotiq_sim_isaac:=false
    robotiq_isaac_joint_commands:=/isaac_joint_commands
    robotiq_isaac_joint_states:=/isaac_joint_states
    robotiq_mock_sensor_commands:=false
    ur_mock_sensor_commands:=false
    robotiq_include_ros2_control:=true
    robotiq_use_socket_communication:=false
    robotiq_ip_address:=192.168.10.2
    robotiq_port:=63352
    robotiq_connection_timeout:=30000
    robotiq_activate_gripper_by_default:=1">

  <!-- UR robot -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>


    <xacro:arg name="force_abs_paths" default="false" />
  <xacro:ur_robot
    name="${robot_name}"
    tf_prefix="${tf_prefix}"
    parent="${parent_link}"
    joint_limits_parameters_file="${joint_limits_parameters_file}"
    kinematics_parameters_file="${kinematics_parameters_file}"
    physical_parameters_file="${physical_parameters_file}"
    visual_parameters_file="${visual_parameters_file}"
    safety_limits="${safety_limits}"
    safety_pos_margin="${safety_pos_margin}"
    safety_k_position="${safety_k_position}"
    force_abs_paths="$(arg force_abs_paths)">
    <origin xyz="${origin_x} ${origin_y} ${origin_z}"
            rpy="${origin_roll} ${origin_pitch} ${origin_yaw}"/>
  </xacro:ur_robot>

    <xacro:if value="${fake_cameras}">
    <xacro:include filename="$(find ur_description)/urdf/ros2_control_mock_hardware.xacro"/>
    <xacro:ur_ros2_control
            name="${robot_name}"
            tf_prefix="${tf_prefix}"
            mock_sensor_commands="${ur_mock_sensor_commands}"
            initial_positions="${initial_positions}"
    >
    </xacro:ur_ros2_control>
    <ros2_control name="MockHardwareSystem" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="calculate_dynamics">false</param>
        <param name="mock_gpio_commands">true</param>
      </hardware>
      <sensor name="ur10e_speed_scaling">
        <state_interface name="speed_scaling_factor">
          <!-- avoid NaNs at startup -->
          <param name="initial_value">1.0</param>
        </state_interface>
      </sensor>

      <gpio name="ur10e_gpio">

        <!-- analog io type states -->
        <state_interface name="analog_io_type_0"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="analog_io_type_1"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="analog_io_type_2"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="analog_io_type_3"><param name="initial_value">0.0</param></state_interface>

        <!-- digital input states 0..17 -->
        <state_interface name="digital_input_0"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_1"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_2"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_3"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_4"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_5"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_6"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_7"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_8"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_9"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_10"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_11"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_12"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_13"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_14"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_15"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_16"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_input_17"><param name="initial_value">0.0</param></state_interface>

        <!-- digital output states 0..17 -->
        <state_interface name="digital_output_0"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_1"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_2"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_3"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_4"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_5"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_6"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_7"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_8"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_9"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_10"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_11"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_12"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_13"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_14"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_15"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_16"><param name="initial_value">0.0</param></state_interface>
        <state_interface name="digital_output_17"><param name="initial_value">0.0</param></state_interface>

        <!-- commands you listed -->
        <command_interface name="standard_analog_output_cmd_0"/>
        <command_interface name="standard_analog_output_cmd_1"/>

        <command_interface name="standard_digital_output_cmd_0"/>
        <command_interface name="standard_digital_output_cmd_1"/>
        <command_interface name="standard_digital_output_cmd_2"/>
        <command_interface name="standard_digital_output_cmd_3"/>
        <command_interface name="standard_digital_output_cmd_4"/>
        <command_interface name="standard_digital_output_cmd_5"/>
        <command_interface name="standard_digital_output_cmd_6"/>
        <command_interface name="standard_digital_output_cmd_7"/>
        <command_interface name="standard_digital_output_cmd_8"/>
        <command_interface name="standard_digital_output_cmd_9"/>
        <command_interface name="standard_digital_output_cmd_10"/>
        <command_interface name="standard_digital_output_cmd_11"/>
        <command_interface name="standard_digital_output_cmd_12"/>
        <command_interface name="standard_digital_output_cmd_13"/>
        <command_interface name="standard_digital_output_cmd_14"/>
        <command_interface name="standard_digital_output_cmd_15"/>
        <command_interface name="standard_digital_output_cmd_16"/>
        <command_interface name="standard_digital_output_cmd_17"/>

      </gpio>
    </ros2_control>
    </xacro:if>
    <!-- gripper -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />

  <joint name="rq_coupler_joint" type="fixed">
    <parent link="$(arg ur_type)_tool0" />
    <child  link = "robotiq_coupler" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${0.5*pi}" />
  </joint>

  <link name="robotiq_coupler">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="${0.075*0.5}" length="0.01"/>
      </geometry>
      <material name="RobotiqGrey">
        <color rgba="0.02 0.02 0.02 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="${0.075*0.5}" length="0.04"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.4"/>
    </inertial>
  </link>

  <!-- <joint name="robotiq_joint" type="fixed">
    <parent link="robotiq_coupler" />
    <child link = "robotiq_85_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 ${-0.5*pi}" />
  </joint>
  
  
-->

  <xacro:robotiq_gripper
    name="robotiq_gripper"
    prefix="${tf_prefix}"
    parent="robotiq_coupler"
    use_fake_hardware="${fake_gripper}"
    sim_ignition="${robotiq_sim_ignition}"
    sim_isaac="${robotiq_sim_isaac}"
    isaac_joint_commands="${robotiq_isaac_joint_commands}"
    isaac_joint_states="${robotiq_isaac_joint_states}"
    port="${robotiq_port}"
    connection_timeout="${robotiq_connection_timeout}"
    activate_gripper_by_default="${robotiq_activate_gripper_by_default}"
    include_ros2_control="${robotiq_include_ros2_control}"
    com_port="${tool_device_name}"
    use_socket_communication="${robotiq_use_socket_communication}"
    ip_address="${robotiq_ip_address}"
    >
    <origin xyz="0 0 0" rpy="0 0 ${-0.5*pi}" />
  </xacro:robotiq_gripper>

  <link name="open_tip" />
  <joint name="open_tip_joint" type="fixed">
    <parent link="robotiq_coupler" />
    <child  link = "open_tip" />
    <origin xyz="0 0 0.149" rpy="0 0 ${-0.5*pi}" />
  </joint>

  <link name="closed_tip" />
  <joint name="closed_tip_joint" type="fixed">
    <parent link="robotiq_coupler" />
    <child  link = "closed_tip" />
    <origin xyz="0 0 0.163" rpy="0 0 ${-0.5*pi}" />
  </joint>

  <joint name="rq_connector_joint" type="fixed">
    <parent link="robotiq_coupler" />
    <child  link = "rq_connector" />
    <origin xyz="-0.055 0 -0.02" rpy="0 0 0" />
  </joint>

  <link name="rq_connector">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.05" />
      </geometry>
      <material name="RobotiqGrey">
        <color rgba="0.02 0.02 0.02 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.02 0.05" />
      </geometry>
    </collision>
  </link>

</xacro:macro>

</robot>
